.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
/node_modules/
/vendor/bin/
/vendor/dealerdirect/
/vendor/phpcsstandards/
/vendor/squizlabs/
/vendor/wp-coding-standards/
*.sql
*.tar.gz
*.zip
.idea/
.idea/*
/.idea/
/.idea/*
/.history/
.phpactor.json
/build/
